
.section-gallery {
  background-color: var(--secundary-text);
  display: block;
}
.gallery-list-buttons {
  display: flex;
  @include font(500, 16px, 1.25);
  color: var(--main-title-color);
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    & > .gallery-item-button {
      margin-bottom: 15px;
    }
    margin-right: - 8px;
    margin-bottom:  40px;
  }
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: var(--padding-bottom-50);
    margin-right: auto;
    margin-left: auto;
   }
  @media screen and (min-width: 1200px) {
  } 
  & > .gallery-item-button:not(:last-child) {
    margin-right: 8px;}
}

.gallery-list__button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  @include font(500, 16px, 1.6);
  border: 0;
  border-radius: var(--border-radius-4);
  color: var(--main-title-color);
  background: var(--background-color-cards);
  border-radius: var(--border-radius-4);
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.gallery-list-cards {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 320px) {
    display: block;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin-top: -30px;
      margin-left: -30px;
  }  
 & > .gallery-item-card {
  width: 100%;
  background: var(--card-set-background-color);
  outline: var(--outline-cards);
  @media screen and (min-width: 320px){
    display: block;
    margin-top: 30px;
   }
   @media screen and (min-width: 480px){
    display: block;
    margin-top: 30px;
   }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;      
   }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
   }}
}

.overlay-callery {
  display: block;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.callery-link-img {
  width: 100%;
  display: block;
  align-self: center;
}

.gallery-cards__submenu {
  position: absolute;
  @include font(400, 18px, 1.5);
  color: var(--secundary-text);
  background: var(--background-submenu-gallery);
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 500ms linear;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  .gallery-card-set:hover &,
  .gallery-card-set:focus & {
    transform: translateY(0);
  }
}

.gallery-card-set {
  width: 404px;
  display: block;
  align-items: center;
  align-self: center;
  width: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-card-gallery);
  }
}

.gallery-card__label {
  background: var(--secundary-text);
  padding-top: var(--card-text-gal-pad-top);
  padding-right: var(--card-text-gal-pad-lft);
  padding-bottom: var(--card-text-gal-pad-top);
  padding-left: var(--card-text-gal-pad-lft);
}

.title-card {
  @include font(700, 18px, 2, 0.06em);
  color: var(--main-title-color);
}

.description-card {
  margin-top: 4px;
  @include font(400, 16px, 2.2);
  color: var(--main-text-color);
}

.default {
  color: var(--secundary-text);
  background-color: var(--accent-color);
}

