
.advantages__list {
margin: 0;
padding: 0;
display: block;
@media screen and (min-width: 768px) {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  } 
}

.advantages-list__item {
  max-width: 100%;
  display: block; 
  background: var(--card-set-background-color);
   @media screen and (min-width: 767px){
display: block;
margin-top: 30px;
    }
  @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 30px);
      margin-top: 30px;
      margin-left: 30px;
    }
  @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px);
    }
  }

.advantages__container-item { 
  display: block;
  } 
.advantages-container-img {
 align-items: center;
 background-color: var(--background-color-cards);
 display: flex;
 justify-content: center;
 max-width: 100%;
 height: 120px;
 border: 0;
 border-radius: var(--border-radius-4);
}
.advantages-img {
  align-self: center;
  display: block;
  width: 70px;
  height: 70px; 
}
.advantages-title {
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  color: var( --main-title-color);
  margin-top: 30px;
  @include font (700, 14px, 1.1);
  @media screen and (max-width: 319px) {
    margin-top: 15px;
    @include font (700, 10px, 1.1);
  }
}
.advantages-text {
  margin-top: var(--margin-top-10);
  color: var(--main-text-color);
  @include font(400, 14px, 1.7); 
  @media screen and (max-width: 319px) {
    @include font(400, 10px, 1.7);
    margin-bottom: 15px;
  }
  @media screen and (max-width: 767px) {
    &:last-child { margin-bottom: 30px;} 
  }
}

