
 .main-button {
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  text-align: center;          
  padding: var(--padg-main-btn);
  width: 200px;
  box-shadow: var(--box-shadow);
  border: 0;
  color: var(--secundary-text);
  background-color: var(--accent-color);
  border-radius: var(--border-radius-4);
  transition-property: background-color, box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  font-style: normal;
  @include font(700, 16px, 1.9, 0.06em);
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: var(--background-main-button);
    box-shadow: var(--box-shadow);
    color: var(--secundary-text);
  } 
}  
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  box-shadow: var(--box-shadow);
  color: var(--secundary-text);
}