
  menu-toggle
  .header-container {
    box-shadow: var(--filter-drop-shadows)
  }
  
  .header-container .header-navigator-container {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navigator__menu {
    display: flex;
  
  }
  
  @media (max-width: 767px) {
    .navigator__menu {
      display: none;
    }
  }
 
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--secundary-text);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    @media (min-width: 768px) {
        display: none;
      }
  }   
  
  .menu-toggle-cross {
    position: absolute;
    top: 15px;
    right: 15px;
    min-height: 40px;
    min-width: 40px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: var(--secundary-text);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    @media (min-width: 768px) {
        display: none;
      }
  }

  .icon-close-mobile-menu {
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    fill: var(--accent-color);
  }
  
  .overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    background-color: var(--secundary-text);
    z-index: 5;
    transition-timing-function: var(--timing-function);
    transform: translatey(-100%);
    transition: transform 250ms ease-in-out;
  }
  
  .overlay-container.is-open {
    transform: translateX(0);
  }
  
  .overlay-container {.menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }}

  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }

  .menu-nav-list {
    display: block;
  }
  .menu-nav__item {
  &:not(:last-child) {
  margin-bottom: 32px;
}
  }

  .menu-nav__link {
    display: block;
    @include font(500, 40px, 1.2, 0.02em);
    @include padding(10px, 10px);
    color: var(--main-title-color)
  }

  .menu-contacts-list {
position: absolute;
left: 40px;
bottom: 40px;
  }

  .overlay-list-mobile-menu {

  }

  .mobile-menu__item {
   &:first-child {
    margin-bottom: 32px;
  }
   &:last-child {
    margin-bottom: 64px;
   }
  }

 .mobile-menu__link {
    @include font(500, 24px, 1.2, 0.02em);
    color: var(--main-text-color);
   }

   .menu__link-email {
     @media screen and (max-width: 767px) {
     display: block;
    @include font(500, 34px, 1.2, 0.02em);
    color: var(--accent-color);
   }}

  .overlay-list-social {
    display: flex;
    align-items: center;
 
  }
  
  .list-social__item:not(:last-child) {
    margin-right: 10px;
  }

.list-social__link {
  @include font(500, 18px, 1.2, 0.02em);   
  color: var(--accent-color);
}

  .devil {
  font-size: 30px;
  align-self: center;
  display: inline-block;
  color: rgba(33, 33, 33, 0.2);
  margin-right: 10px;
  }
 
.current-mobile {
  color: var(--accent-color);
}





