.modal {
  cursor: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528;
  padding: 40px;
  background: var(--card-set-background-color);
  box-shadow: var(--box-shadow-card-team);
  border-radius: var(--border-radius-4);
}
.modal__close {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--card-set-background-color);
  border: var(--border-icon);
  cursor: pointer;
}
.icon-close-modal {
  display: block;
  align-self: center;
  width: 18px;
  height: 18px;
  .modal__close:hover &,
  .modal__close:focus & {
    fill: var(--accent-color);
  }
}
.modal__title {
  font-style: normal;
  @include font(700, 20px, 1.15);
  text-align: center;
  color: var(--main-title-color);
  margin-bottom: 12px;
}
.form__label {
  display: block;
  position: relative;
  font-style: normal;
  @include font(400, 12px, 1.2, 0.01em);
  color: var(--main-text-color);
  margin-bottom: 10px;
}
.container-for-modals-icon {
  display: block;
  position: relative;
}
.icon-input-modal {
  position: absolute;
  display: inline-block;
  z-index: 1;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--fill-modals-icons);
  .modal-label:focus-within & {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
  .form-input:hover & {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.modal-input {
  display: block;
  width: 100%;
  border: var(--mod-border-input);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-right: 15px;
  padding-left: 42px;
  padding-bottom: 12px;
  margin-top: 4px;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    fill: var(--accent-color);
  }
}
.form-textarea {
  margin-bottom: 20px;
}
.input-modal-textarea {
  display: block;
  min-width: 100%;
  min-height: 120px;
  margin-top: 4px;
  border: var(--mod-border-input);
  box-sizing: border-box;
  border-radius: var(--border-radius-4);
  padding-top: 12px;
  padding-right: var(--font-size-16);
  padding-bottom: 12px;
  padding-left: var(--font-size-16);
  cursor: pointer;
}
.modal-label-check {
  display: block;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-icon);
}
.modal-container-input {
  display: flex;
  justify-content: center;
  width: 100%;
}
.modal-input-checkbox {
  position: absolute;
  left: 40px;
  bottom: 140px;
}
.agreement {
  display: block;
}
.modal-link-agreement {
  display: inline-block;
  text-decoration: underline;
  color: var(--accent-color);
  margin-left: 0.3rem;
}
.icon-checkbox {
  display: inline-block;
  margin-right: 8.38px;
  align-self: center;
  border: var(--chexbox-border);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  background-color: inherit;
  transition-property: border-color, background-image;
  cursor: pointer;
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  .modal-input-checkbox:checked + & {
    display: block;
    margin-right: 8.38px;
    width: 16px;
    height: 15px;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url('data:image/svg+xml,%3Csvg width="16" height="15" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect width="16" height="15" rx="2" fill="%232196F3"/%3E%3Cpath d="m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z" fill="%23fff" stroke="%23fff" stroke-width=".2"/%3E%3C/svg%3E');
    block-size: contain;
    background-origin: border-box;
    border-radius: 2px;
    border: transparent;
  }
}
