@mixin font($fweight: 400, $fsize: 14px, $fheight: 1.14, $fspasing: 0.03em) {
  font-weight: $fweight;
  font-size: $fsize;
  line-height: $fheight;
  letter-spacing: $fspasing;
}
@mixin padding($padng-t: 0px, $padng-b: 0px, $padng-r: 0px, $padng-l: 0px) {
  padding-top: $padng-t;
  padding-bottom: $padng-b;
  padding-right: $padng-r;
  padding-left: $padng-l;
}
