:root {
  --main-color: #ffffff;
  --main-text-color: #757575; 
  --header-bottom2: 1px solid #ececec;
  --background-footer: #2f303a;
  --main-title-color: #212121; 
  --fill-modals-icons: #212121;
  --secundary-text: #ffffff; 
  --background-color-cards: #f5f4fa;   
  --background-button-hero: #f5f4fa;
  --background-main-button: #188CE8;
  --accent-color: #2196f3;  
  --rgba-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  --font-size-16: font-size: 16px;
  --footer-corder-top: 1px solid #2f303a; 
  --chexbox-border: 2px solid black;
  --mod-border-input: 1px solid rgba(33, 33, 33, 0.2); 
  --border-icon: 1px solid rgba(0, 0, 0, 0.1);
  --border-client-link: 1px solid #AFB1B8;
  --fill-icon:#AFB1B8;
  --background-image-hero: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba( 47, 48, 58, 0.4));
  --background-label:  rgba(47, 48, 58, 0.8);
  --footer-input-border: 1px solid rgba(255, 255, 255, 0.3);
  --color-border-focus-card-gall: solid #EEEEEE;
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --card-set-background-color: #ffffff;
  --backdrop-background:  rgba(0, 0, 0, 0.2);
  --box-shadow-card-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --box-shadow-card-gallery: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --border-radius-card-team: 0px 0px 4px 4px;
  --filter-drop-shadows: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  --color-icon: #757575;
  --color-icon-footer: #ffffff;
  --background-footer-icon: rgba(255, 255, 255, 0.1);
  --background-submenu-gallery: rgba(33, 150, 243, 0.9);
  --background-color-icon-card-team: #ffffff;
  --black-color: #000000; 
  --outline-cards: 1px solid #EEEEEE;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --margin-calc: calc( -1 * var(--margin-top-30));
  --flex-calc-cards-gallery: calc( 100% / 3 - var(--margin-top-30));
  --transition-duration: 250ms;
  --logo-margin-right-93: 93px;
  --padg-main-btn: 10px;
  --padg-b-main-img: 94px;
  --card-text-gal-pad-lft: 24px;
  --card-text-gal-pad-top: 20px;  
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-26: 26px;
  --font-size-36: 36px;
  --font-size-44: 44px;
  --margin-top-10: 10px;
  --margin-left-10: 10px;
  --margin-left-15: 15px;
  --margin-top-20: 20px;
  --margin-left-20: 20px;
  --margin-top-30: 30px;
  --margin-left-30: 30px;
  --margin-top-50: 50px;
  --margin-left-50: 50px;
  --padding-bottom-50: 50px;
  --margin-left-93: 93px;
  --margin-top-94: 94px;
  --padding-bottom-94: 94px;
  --margin-bottom-200: 200px;
  --margin-left-500: 500px;
  --padding-right-15: 15px;
  --padding-left-15: 15px;
  --title-padng-bottom-20: 20px;
  --padding-top-24: 24px;
  --footer-logo-padng-btm: 20px;
  --padding-bottom-25: 25px;
  --padding-top-30: 30px;
  --padding-bottom-30: 30px;
  --padding-top-32: 32px;
  --padding-bottom-32: 32px;
  --padding-hero: 200px;
  --border-radius-4: 4px;
  --padg-main-footer: 60px;
  --margin-t-footer-cont-9: 9px;
} 